<div class="columns log-in-form">
  <h4 class="text-center">Entre com sua conta de email e senha</h4>
  <label>Email
    <input type="email" placeholder="alguem@exemplo.com" [(ngModel)]="email" />
  </label>
  <label>Senha
    <input type="password" placeholder="Senha" [(ngModel)]="password" />
  </label>
  <button (click)="login()" id="btnLogin">Login</button>
  <p class="text-center"><a href="#">Esqueceu sua senha?</a></p>

  <div id="socialLogin">
    <button class="loginBtn loginBtn--facebook">
      Login with Facebook
    </button>

    <button (click)="loginWithGoogle()" class="loginBtn loginBtn--google">
      Login with Google
    </button>
 </div>

</div>

