<div class="row">
  <div class="small-12 centered columns">
    <div>  
      <div id="breadcrumb">: : menu principal</div>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-8 large-3 centered columns">
    <button (click)="abrirAnotador()" id="btnAnotador"><i class="fa fa-file-text fa-2x"></i><br/>Editor de Anotação</button>
  </div>
</div>

<div class="row">
  <div class="small-8 large-3 centered columns">
    <button (click)="abrirSenter()" id="btnSenter"><i class="fa fa-list-ol fa-2x"></i><br/>SENTER Web</button>
  </div>
</div>

<div class="row">
  <div class="small-8 large-3 centered columns">
    <button (click)="abrirPalavras()" id="btnPalavras"><i class="fa fa-tags fa-2x"></i><br/>Palavras</button>
  </div>
</div>

<div class="row">
  <div class="small-8 large-3 centered columns">
    <button onclick="alert('Oops. Em breve! Muito em breve!');" id="btnCorpora"><i class="fa fa-th-large fa-2x"></i><br/>Portal de Corpora Paralelos</button>
  </div>
</div>
