<div class="row">
  <div class="small-12 centered columns">
    <h3>Palavras</h3>
    <textarea id="content" placeholder="Conteúdo" [(ngModel)]="content" rows="10"></textarea>
    
    <div>
      <label>Opções de tokenização:</label>
      <label class="form-check-inline">
        <input class="form-check-input" type="radio" name="options" 
        value="" [(ngModel)]="options"> None 
      </label>
      <label class="form-check-inline">
        <input class="form-check-input" type="radio" name="options" value="--dep-fuse" [(ngModel)]="options"> Fuse
      </label>
      <label class="form-check-inline">
        <input class="form-check-input" type="radio" name="options" value="--dep-retokenize" [(ngModel)]="options"> Retokenize
      </label>
    </div>

    <button (click)="parseFlat()" class="default"><i class="fa fa-list-ul fa-2x"></i><br/>Estrutura Flat</button>
    <button (click)="parseTree()" class="default"><i class="fa fa-tree fa-2x"></i><br/>Formato Tiger-XML</button>
    <button (click)="backToMenu()" class="natural"><i class="fa fa-arrow-left fa-2x"></i><br/>Voltar</button>
    
    <div id="results" *ngIf="output != None">
      <h4>Resultados:</h4>
      <textarea id="output" [(ngModel)]="output" rows="20"></textarea>
    </div>

  </div>
</div>