
<div class="row">
  <div class="small-12 centered columns">
    <div>  
      <div id="breadcrumb">: : {{breadcrumb}}</div>
      <a class="btn btn-danger" (click)="back()" data-toggle="tooltip" title="Voltar">
        <i class="fa fa-arrow-left fa-2x"></i>
      </a>
    </div>
    
    <div id="menu" *ngIf="stage == 'menu'">
      <div class="row">
        <div class="small-8 large-3 centered columns">
          <button (click)="newCorpus()" id="btnNewCorpus" class="natural"><i class="fa fa-file-o fa-2x"></i><br/>Criar Novo Córpus</button>
        </div>
      </div>
      <div class="row">
        <div class="small-8 large-3 centered columns">
          <button (click)="listCorpora()" id="btnListCorpus" class="natural"><i class="fa fa-th fa-2x"></i><br/>Meus Corpora</button>
        </div>
      </div>
    </div>

    <div id="corpora" *ngIf="stage == 'corpora'">
      <p>(clique sobre o nome do corpus para selecioná-lo)</p>
      <div id="details-container-corpora" class="details-container"> 
          <a (click)="selectCorpus(corpus.$key, corpus.name)" *ngFor="let corpus of corpora | async">
            {{corpus.name}}<br/>
            <p>({{corpus.source}})</p>
            <i class="fa fa-trash-o inner-button" data-toggle="tooltip" title="Excluir" (click)="deleteCorpus(corpus.$key);$event.stopPropagation();"></i>
          </a>
      </div>
    </div>

    <div id="textMenu" *ngIf="stage == 'textMenu'">
      <div class="row">
        <div class="small-8 large-3 centered columns">
          <button (click)="newText()" class="default"><i class="fa fa-arrow-circle-o-up fa-2x"></i><br/>Importar Novo Texto</button>
        </div>
      </div>
      <div class="row">
        <div class="small-8 large-3 centered columns">
          <button (click)="listTexts()" class="default"><i class="fa fa-files-o fa-2x"></i><br/>Simplificar Texto</button>
        </div>
      </div>
      <div class="row">
        <div class="small-8 large-3 centered columns">
          <button (click)="listSimplifications()" class="default"><i class="fa fa-file-text fa-2x"></i><br/>Editar Simplificação Existente</button>
        </div>
      </div>
    </div>

    <div *ngIf="stage == 'texts'">
      <input type="text" placeholder="Pesquisar" (keyup.enter)="search()" [(ngModel)]="searchText"/>
      <input type="checkbox" checked="true"/>Original <input type="checkbox" checked="true"/>Simplificação
      <div class="details-container"> 
          <a (click)="selectText(text.$key, text.title)" *ngFor="let text of texts | async">
            {{text.title}}<br/><p>{{text.name}}<br/>{{text.source}}<br/>Nível {{text.level}} ({{text.published}})</p>
            <i class="fa fa-trash-o inner-button" data-toggle="tooltip" title="Excluir" (click)="deleteText(text.$key);$event.stopPropagation();"></i>            
          </a>
      </div>
    </div>

    <div id="simplifications" *ngIf="stage == 'simplifications'">
      <div class="details-container"> 
          <a (click)="selectSimplification(simp.$key, simp.name)" *ngFor="let simp of simplifications | async">
            {{simp.name}}<br/><p>{{simp.tags}}<br/>({{simp.updated}})</p>
          </a>
      </div>
    </div>

    <div id="newCorpus" *ngIf="stage == 'newCorpus'">
      <div class="row">
        <div class="small-12 large-6 columns centered">
          <label for="corpusName">Nome:</label>
          <input type="text" id="corpusName" placeholder="Nome" [(ngModel)]="corpusName"/>
          <label for="corpusSource">Fonte:</label>
          <input type="text" id="corpusSource" placeholder="Fonte" [(ngModel)]="corpusSource"/>
          <label for="corpusGenre">Gênero:</label>
          <input type="text" id="corpusGenre" placeholder="Gênero" [(ngModel)]="corpusGenre"/>
          <button (click)="saveCorpus()" id="btnSaveCorpus" class="default"><i class="fa fa-save fa-2x"></i><br/>Gravar</button>
        </div>
      </div>
    </div>

    <div id="newText" *ngIf="stage == 'newText'">
      <input type="file" (change)="changeListener($event)" >
      <label for="textName">Nome:</label>
      <input type="text" placeholder="Nome do Arquivo" [(ngModel)]="textName"/>
      <label for="textTitle">Título:</label>
      <input type="text" placeholder="Título" [(ngModel)]="textTitle"/>
      <label for="textSubTitle">SubTítulo:</label>
      <input type="text" placeholder="SubTítulo" [(ngModel)]="textSubTitle"/>
      <label for="textAuthor">Autor:</label>
      <input type="text" placeholder="Autor" [(ngModel)]="textAuthor"/>
      <label for="textPublished">Data:</label>
      <input type="text" placeholder="Data Publicação" [(ngModel)]="textPublished"/>
      <label for="textSource">Fonte:</label>
      <input type="text" placeholder="Fonte" [(ngModel)]="textSource"/>
      <label for="textContent">Conteúdo:</label>    
      <textarea placeholder="Conteúdo" [(ngModel)]="textContent" rows="20"></textarea>
      <button (click)="saveText()" id="btnSaveText"><i class="fa fa-save fa-2x"></i><br/>Gravar</button>
    </div>

    <div id="doSimplification" *ngIf="stage == 'doSimplification'">

      <div class="row">
        <div class="small-12 large-6 columns centered">
          <label for="simplificationName">Nome:</label>
          <input type="text" id="simplificationName" placeholder="Nome simples para identificar o bitexto" [(ngModel)]="simplificationName"/>
          <label for="simplificationTag">Tags:</label>
          <input type="text" id="simplificationTag" placeholder="Digite as tags separadas por vírgula" [(ngModel)]="simplificationTag"/>
        </div> 
      </div>

      <div class="row">
        <div class="small-12 large-6 centered columns">
          <div class="titles">{{(simplificationTextFrom | async)?.title}}</div>
          <div class="titles">{{(simplificationTextFrom | async)?.subTitle}}</div>
        </div>
        <div class="small-12 large-6 centered columns">
          <div contenteditable="true" class="titles">{{simplificationToTitle}}</div>
          <div contenteditable="true" class="titles">{{simplificationToSubTitle}}</div>
        </div>
      </div>
      <div class="row">
        <div class="small-12 large-6 centered columns">
          <div class="editor">
            <ng-template dynamic-template
              [template]="parsedSimplificationTextFrom"
              [context]="context">
            </ng-template>
          </div>
        </div>
        <div class="small-12 large-6 centered columns">
          <div contenteditable="true" class="editor">
            <ng-template dynamic-template
              [template]="parsedSimplificationTextTo"
              [context]="context">
            </ng-template>
          </div>
        </div>
      </div> 

      <div class="row">
        <div class="small-12 large-6 columns">
          <button (click)="saveSimplification()" id="btnSaveSimplification"><i class="fa fa-save fa-2x"></i><br/>Gravar</button>
        </div>
      </div>

    </div>

  </div>
</div>

