
<div class="row">
  <div class="small-12 centered columns">
    <div>  
      <div id="breadcrumb">: : {{breadcrumb}}</div>
      <a class="btn btn-danger" (click)="back()" data-toggle="tooltip" title="Voltar">
        <i class="fa fa-arrow-left fa-2x"></i>
      </a>
    </div>
    
    <div id="menu" *ngIf="stage == 'menu'">
      <div class="row">
        <div class="small-8 large-3 centered columns">
          <button (click)="newCorpus()" id="btnNewCorpus" class="natural">Criar Novo Córpus</button>
        </div>
      </div>
      <div class="row">
        <div class="small-8 large-3 centered columns">
          <button (click)="listCorpora()" id="btnListCorpus" class="natural">Meus Corpora</button>
        </div>
      </div>
    </div>

    <div id="corpora" *ngIf="stage == 'corpora'">
      <p>(clique sobre o nome do corpus para selecioná-lo)</p>
      <div id="details-container-corpora" class="details-container"> 
          <a (click)="selectCorpus(corpus.$key, corpus.name)" *ngFor="let corpus of corpora | async">
            {{corpus.name}}<br/>
            <p>({{corpus.source}})</p>
            <i class="fa fa-trash-o inner-button" data-toggle="tooltip" title="Excluir" (click)="deleteCorpus(corpus.$key);$event.stopPropagation();"></i>
          </a>
      </div>
    </div>

    <div id="textMenu" *ngIf="stage == 'textMenu'">
      <div class="row">
        <div class="small-8 large-3 centered columns">
          <button (click)="newProduction()" id="btnNewProd" class="natural">Importar Novo Texto</button>
        </div>
      </div>
      <div class="row">
        <div class="small-8 large-3 centered columns">
          <button (click)="listTexts()" id="btnListTexts" class="natural">Simplificar Texto</button>
        </div>
      </div>
    </div>

    <div id="productions" *ngIf="stage == 'productions'">
      <button (click)="newProduction()" id="btnNewProd" class="default">Importar Novo Texto</button>
      <div id="details-container-productions" class="details-container"> 
          <a (click)="selectProduction(prod.$key, prod.title)" *ngFor="let prod of productions | async">
            {{prod.title}}<br/><p>{{prod.author}} - {{prod.published}}</p>
          </a>
      </div>
    </div>

    <div id="simplifications" *ngIf="stage == 'simplifications'">
      <button (click)="newSimplification()" id="btnNewSimpl" class="default">Nova Simplificação</button>
      <button (click)="listProductions()" id="btnSimplBack" class="natural">Voltar para Produções</button>

      <div id="details-container-simplifications" class="details-container"> 
          <a (click)="selectSimplification(simp.$key, simp.name)" *ngFor="let simp of simplifications | async">
            {{simp.name}}<br/><p>{{simp.tags}}</p>
          </a>
      </div>
    </div>

    <div id="newCorpus" *ngIf="stage == 'newCorpus'">
      <div class="row">
        <div class="small-12 large-6 columns centered">
          <label for="corpusName">Nome:</label>
          <input type="text" id="corpusName" placeholder="Nome" [(ngModel)]="corpusName"/>
          <label for="corpusSource">Fonte:</label>
          <input type="text" id="corpusSource" placeholder="Fonte" [(ngModel)]="corpusSource"/>
          <label for="corpusGenre">Gênero:</label>
          <input type="text" id="corpusGenre" placeholder="Gênero" [(ngModel)]="corpusGenre"/>
          <button (click)="saveCorpus()" id="btnSaveCorpus" class="default">Gravar</button>
        </div>
      </div>
    </div>

    <div id="newProduction" *ngIf="stage == 'newProduction'">
      <input type="file" (change)="changeListener($event)" >
      <input type="text" id="productionTitle" placeholder="Título" [(ngModel)]="productionTitle"/>
      <input type="text" id="productionSubTitle" placeholder="SubTítulo" [(ngModel)]="productionSubTitle"/>
      <input type="text" id="productionAuthor" placeholder="Autor" [(ngModel)]="productionAuthor"/>
      <input type="text" id="productionPublished" placeholder="Data Publicação" [(ngModel)]="productionPublished"/>
      <input type="text" id="productionSource" placeholder="Fonte" [(ngModel)]="productionSource"/>      
      <textarea id="productionContent" placeholder="Conteúdo" [(ngModel)]="productionContent" rows="20"></textarea>
      <button (click)="saveProduction()" id="btnSaveProduction">Gravar</button>
    </div>

    <div id="newSimplification" *ngIf="stage == 'newSimplification'">
      <div class="row">
        <div class="small-12 large-6 columns">
          <label for="simplificationName">Nome:</label>
          <input type="text" id="simplificationName" placeholder="Nome simples para identificar o bitexto" [(ngModel)]="simplificationName"/>
          <label for="simplificationFrom">Texto base:</label>
          <select id="simplificationFrom" [(ngModel)]="simplificationFrom" required>
            <option *ngFor="let text of texts | async" [value]="text.$key">Nível {{text.level}} - {{text.title}}</option>
          </select>
          <label for="simplificationTag">Tags:</label>
          <input type="text" id="simplificationTag" placeholder="Digite as tags separadas por vírgula" [(ngModel)]="simplificationTag"/>
          <button (click)="saveNewSimplification()" id="btnSaveNewSimplification">Gravar</button>
          <button (click)="listSimplifications()" id="btnBackSimplification" class="natural">Voltar</button>
        </div> 
      </div>
    </div>

    <div id="doSimplification" *ngIf="stage == 'doSimplification'">
      <div class="row">
        <div class="small-12 large-6 columns">
          <button (click)="saveSimplification()" id="btnSaveSimplification">Gravar</button>
          <button (click)="listSimplifications()" id="btnBackSimplification" class="natural">Voltar</button>
        </div>
      </div>
      <div class="row">
        <div class="small-12 large-6 centered columns">
          <div class="titles">{{(simplificationTextFrom | async)?.title}}</div>
          <div class="titles">{{(simplificationTextFrom | async)?.subTitle}}</div>
        </div>
        <div class="small-12 large-6 centered columns">
          <div contenteditable="true" class="titles">{{simplificationToTitle}}</div>
          <div contenteditable="true" class="titles">{{simplificationToSubTitle}}</div>
        </div>
      </div>
      <div class="row">
        <div class="small-12 large-6 centered columns">
          <div class="editor">
            <ng-template dynamic-template
              [template]="parsedSimplificationTextFrom"
              [context]="context">
            </ng-template>
          </div>
        </div>
        <div class="small-12 large-6 centered columns">
          <div contenteditable="true" class="editor">
            <ng-template dynamic-template
              [template]="parsedSimplificationTextTo"
              [context]="context">
            </ng-template>
          </div>
        </div>
      </div> 
    </div>

  </div>
</div>

