<div class="row">
  <div class="small-12 centered columns">
    <div>  
      <div id="breadcrumb">: : {{breadcrumb}}</div>
      <a class="btn btn-danger" (click)="back()" data-toggle="tooltip" title="Voltar">
        <i class="fa fa-arrow-left fa-2x"></i>
      </a>
    </div>
    
    <div id="menu" *ngIf="stage == 'menu'">
      <div class="row">
        <div class="small-8 large-3 centered columns">
          <button (click)="newCorpus()" id="btnNewCorpus" class="natural"><i class="fa fa-file-o fa-2x"></i><br/>Criar Novo Córpus</button>
        </div>
      </div>
      <div class="row">
        <div class="small-8 large-3 centered columns">
          <button (click)="listCorpora()" id="btnListCorpus" class="natural"><i class="fa fa-th fa-2x"></i><br/>Meus Corpora</button>
        </div>
      </div>
    </div>

    <div id="corpora" *ngIf="stage == 'corpora'">
      <p>(clique sobre o nome do corpus para selecioná-lo)</p>
      <div id="details-container-corpora" class="details-container"> 
          <a (click)="selectCorpus(corpus.$key, corpus.name)" *ngFor="let corpus of corpora | async">
            {{corpus.name}}<br/>
            <p>({{corpus.source}})</p>
            <i class="fa fa-trash-o inner-button" data-toggle="tooltip" title="Excluir" (click)="deleteCorpus(corpus.$key);$event.stopPropagation();"></i>
          </a>
      </div>
    </div>

    <div id="textMenu" *ngIf="stage == 'textMenu'">
      <div class="row">
        <div class="small-8 large-3 centered columns">
          <button (click)="newText()" class="default"><i class="fa fa-arrow-circle-o-up fa-2x"></i><br/>Importar Novo Texto</button>
        </div>
      </div>
      <div class="row">
        <div class="small-8 large-3 centered columns">
          <button (click)="listTexts()" class="default"><i class="fa fa-files-o fa-2x"></i><br/>Simplificar Texto</button>
        </div>
      </div>
      <div class="row">
        <div class="small-8 large-3 centered columns">
          <button (click)="listSimplifications()" class="default"><i class="fa fa-file-text fa-2x"></i><br/>Editar Simplificação Existente</button>
        </div>
      </div>
    </div>

    <div *ngIf="stage == 'texts'">
      <input type="text" placeholder="Pesquisar" (keyup)="filterText()" [(ngModel)]="searchText"/>
      <input type="checkbox" checked="true"/>Original <input type="checkbox" checked="true"/>Simplificação

      <div class="details-container"> 
          <a (click)="selectText(text.$key, text.title)" onmousedown="document.getElementById('waiting').style='';" *ngFor="let text of texts | async">
            {{text.title}}<br/><p>{{text.name}}<br/>{{text.source}}<br/>Nível {{text.level}} ({{text.published}})</p>
            <i class="fa fa-spinner fa-pulse fa-fw" id='waiting' style="display:none"></i>
            <i class="fa fa-trash-o inner-button" data-toggle="tooltip" title="Excluir" (click)="deleteText(text.$key);$event.stopPropagation();"></i>
          </a>
      </div>
    </div>

    <div id="simplifications" *ngIf="stage == 'simplifications'">
      <div class="details-container"> 
          <a (click)="selectSimplification(simp.$key, simp.name)" *ngFor="let simp of simplifications | async">
            {{simp.name}}<br/><p>{{simp.tags}}<br/>({{simp.updated}})</p>
          </a>
      </div>
    </div>

    <div id="newCorpus" *ngIf="stage == 'newCorpus'">
      <div class="row">
        <div class="small-12 large-6 columns centered">
          <label for="corpusName">Nome:</label>
          <input type="text" id="corpusName" placeholder="Nome" [(ngModel)]="corpusName"/>
          <label for="corpusSource">Fonte:</label>
          <input type="text" id="corpusSource" placeholder="Fonte" [(ngModel)]="corpusSource"/>
          <label for="corpusGenre">Gênero:</label>
          <input type="text" id="corpusGenre" placeholder="Gênero" [(ngModel)]="corpusGenre"/>
          <button (click)="saveCorpus()" id="btnSaveCorpus" class="default"><i class="fa fa-save fa-2x"></i><br/>Gravar</button>
        </div>
      </div>
    </div>

    <div id="newText" *ngIf="stage == 'newText'">
      <input type="file" (change)="changeListener($event)" >
      <label for="textName">Nome:</label>
      <input type="text" placeholder="Nome do Arquivo" [(ngModel)]="textName"/>
      <label for="textTitle">Título:</label>
      <input type="text" placeholder="Título" [(ngModel)]="textTitle"/>
      <label for="textSubTitle">SubTítulo:</label>
      <input type="text" placeholder="SubTítulo" [(ngModel)]="textSubTitle"/>
      <label for="textAuthor">Autor:</label>
      <input type="text" placeholder="Autor" [(ngModel)]="textAuthor"/>
      <label for="textPublished">Data:</label>
      <input type="text" placeholder="Data Publicação" [(ngModel)]="textPublished"/>
      <label for="textSource">Fonte:</label>
      <input type="text" placeholder="Fonte" [(ngModel)]="textSource"/>
      <label for="textContent">Conteúdo:</label>    
      <textarea placeholder="Conteúdo" [(ngModel)]="textContent" rows="20"></textarea>
      <button (click)="saveText()" id="btnSaveText"><i class="fa fa-save fa-2x"></i><br/>Gravar</button>
    </div>

    <div id='operations' class='operations' style='display:none;'>
      <div class="operations-header">Operações</div>
        <div class='operations-tools'>
          <button onclick="markWords(true)" class="mini" id='markWords' data-toggle="tooltip" title="Marcar Palavras"><i class="fa fa-text-width"></i></button>
          <button onclick="markWords(false)" class="mini" id='markSentences' data-toggle="tooltip" title="Marcar Sentenças" style='display:none;'><i class="fa fa-align-justify"></i></button>
          <span id="qtTokens" class='operations-qt-tokens' data-toggle="tooltip" title="Quantidade de palavras da sentença">0</span>
        </div>

        <div><a onclick="$('#operations-sentenciais').toggle();"><i class="fa fa-align-justify"></i> Sentenciais</a></div>
        <div id="operations-sentenciais">
          <a onclick="doOperation('division');"> - Divisão de sentença</a><br/>
          <a onclick="doOperation('union');"> - União de sentenças</a><br/>
          <a onclick="doOperation('remotion');"> - Remoção de sentença</a><br/>
          <a onclick="doOperation('inclusion');"> - Inclusão de sentença</a><br/>
          <a onclick="doOperation('rewrite');"> - Reescrita de sentença</a>
        </div>
        <div><a onclick="$('#operations-intra-sentenciais').toggle();"><i class="fa fa-text-width"></i> Intra-sentenciais</a></div>
        <div id="operations-intra-sentenciais" style="display:none;">
          <a onclick="alert('not yet');"> - Substituição lexical</a><br/>
          <a onclick="alert('not yet');"> - Elaboração com lista de sinônimos</a><br/>
          <a onclick="alert('not yet');"> - Elaboração com oração explicativa</a><br/>
          <a onclick="alert('not yet');"> - Substituição de tempo verbal</a><br/>
          <a onclick="alert('not yet');"> - Simplificação de expressão numérica</a><br/>
          <a onclick="alert('not yet');"> - Remoção de parte da sentença</a><br/>
          <a onclick="alert('not yet');"> - Mudança de voz passiva para voz ativa</a><br/>
          <a onclick="alert('not yet');"> - Mudança da ordem dos constituintes para SVO</a><br/>
          <a onclick="alert('not yet');"> - Mudança da ordem de adjunto adverbial</a><br/>
          <a onclick="alert('not yet');"> - Substituição de pronome por nome</a><br/>
          <a onclick="alert('not yet');"> - Redução de sintagma nominal</a><br/>
          <a onclick="alert('not yet');"> - Substituição de marcador discursivo</a>
        </div>        
        <div id="sentenceOperations" style='margin-top:20px;font-size:12px;'></div>
      </div>

    <div id="doSimplification" *ngIf="stage == 'doSimplification'">
      <div class="row">
        <div class="small-12 large-6 columns centered">
          <label for="simplificationName">Nome:</label>
          <input type="text" id="simplificationName" placeholder="Nome simples para identificar o bitexto" [(ngModel)]="simplificationName"/>
          <label for="simplificationTag">Tags:</label>
          <input type="text" id="simplificationTag" placeholder="Digite as tags separadas por vírgula" [(ngModel)]="simplificationTag"/>
        </div> 
      </div>

      <div class="row">
        <div class="small-12 large-6 centered columns">
          <div class="titles">{{(simplificationTextFrom | async)?.title}}</div>
          <div class="titles">{{(simplificationTextFrom | async)?.subTitle}}</div>
        </div>
        <div class="small-12 large-6 centered columns">
          <div contenteditable="true" class="titles" id="divTextToTitle">{{simplificationToTitle}}</div>
          <div contenteditable="true" class="titles" id="divTextToSubTitle">{{simplificationToSubTitle}}</div>
        </div>
      </div>
      <div class="row">
        <div class="small-12 large-6 centered columns">
          <div class="editor">
            <ng-template dynamic-template
              [template]="textFrom"
              [context]="context">
            </ng-template>
          </div>
        </div>
        <div class="small-12 large-6 centered columns">
          <div contenteditable="true" class="editor" id="divTextTo">
            <ng-template dynamic-template
              [template]="textTo"
              [context]="context">
            </ng-template>
          </div>
        </div>
      </div> 

      <div class="row">
        <div class="small-12 large-6 centered columns">
          <button (click)="saveSimplification()" id="btnSaveSimplification" style="margin-bottom:100px;"><i class="fa fa-save fa-2x"></i><br/>Gravar</button>
        </div>
      </div>

    </div>

  </div>
</div>

