input#message {
    background:#fff;
    border:none;
    outline:none;
    box-shadow:none;
    font-size:1.6em;
    font-weight:300;
    margin-bottom: 3em;
    padding:1.2em .7em;
    width: 80%;
}

.details-container {
    font-size:1.6em;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    width:100%;
}

.details-container a {
    background:#fff;
    padding:0.5em;
    color:#696969;
    margin: 12px;
    width:auto;
    min-width:200px;
}

.details-container a:hover {
    background: #cdff84;
}

.details-container a.new { 
    background: #cdff84;
}

.details-container a.back { 
    background: #b0cfff;
}

.details-container a p {
    font-size: 0.9rem;
}



.details-container-lines {
    font-size:1.6em;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    width:100%;
}

.details-container-lines a {
    background:#fff;
    padding:0.5em;
    color:#696969;
    margin: 6px;
    width: 100%;
    min-width:200px;
}

.details-container-lines a:hover {
    background: #cdff84;
}

.details-container-lines a.new { 
    background: #cdff84;
}

.details-container-lines a.back { 
    background: #b0cfff;
}

.details-container-lines a p {
    font-size: 0.9rem;
    margin-bottom: 0px;
}


.titles {
    display:inline-block;
    border: solid 1px #000;
    min-width: 100%;
    background: white;
    padding: 5px;
    margin-bottom: 10px;
}

.editor {
    display:inline-block;
    border: solid 1px #000;
    min-height: 200px;
    min-width: 100%;
    max-width: 100%;
    background: white;
    text-align: justify;
    padding: 20px;
    margin-bottom: 20px;
}

.inner-button {
    float: right;
}


.inner-button:hover {
    color: red;
}

.selected {
    font-weight: bold;
}

.operations {
    position: fixed;
    width: 400px;
    background:#8ABC41;
    cursor:default;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    box-shadow: 10px 10px 35px grey;
    display: inline-block;
}

.operations-tools {
    width: 100%;
    background:#8ABC41;
    height: 50px;
}

.operations-qt-tokens {
    float: right;
    background:#8ABC41;
    color: white;
    font-weight: bold;
    font-size: 1.6em;
    margin-right: 10px;
}

.operations-qt-sentences {
    float: right;
    background:#8ABC41;
    color: white;
    font-size: 1.5em;
    margin-right: 30px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.operations-header {
    width: 100%;
    background:#3a72c9;
    height: 27px;
    color: white;
    text-align: center;
    cursor:move;
}

.operations div a {
    color: black;
    margin-left: 15px;
}

.operations div a:hover {
    text-decoration: underline;
}

.ui-widget-header {
    background: #3a72c9;
    color: white;
}