input#message {
    background:#fff;
    border:none;
    outline:none;
    box-shadow:none;
    font-size:1.6em;
    font-weight:300;
    margin-bottom: 3em;
    padding:1.2em .7em;
    width: 80%;
}

.details-container {
    font-size:1.6em;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    width:100%;
}

.details-container a {
    background:#fff;
    padding:1.4em;
    color:#696969;
    margin: 12px;
    width:auto;
    min-width:200px;
}

.details-container a:hover {
    background: #cdff84;
}

.details-container a.new { 
    background: #cdff84;
}

.details-container a.back { 
    background: #b0cfff;
}

.details-container a p {
    font-size: 0.9rem;
}

