/* You can add global styles to this file, and also import other style files */
body {
    background-color:#EEF7D4;
}
* {
    font-family: 'Raleway';
}

button {
    background: #79B33A;
    color: white;
    padding: 1.2em;
    width: 300px;
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 5px;
    cursor: pointer;
}
